
.img{
    width: 180px;
    height: 14%;
   margin-top: 150px;
   margin-left: 10%;

   
}

.area{
    color:white;
    text-align: justify;
     margin-left: 10%;
    /* margin-top: 20%;  */
    margin-right: 100px;

    




}

.cabe{
    background-color: rgb(19, 18, 18);
    padding: 5px;
}

.cap{
    background-color: rgb(20, 19, 19);
    padding: 2%;
    
} 



.cap a{
    
    color: white;
    text-decoration: none;
    
}

.areaB{
    color: white;
    text-align: justify;
    margin-left: 20% ;
   
}