body{
    margin:0px;
    background-image: url(https://wallpapercave.com/wp/QkrQAZd.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   
}

.fundo{
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    background-color: rgb(255, 255, 255);
   
}

.formulario{
  
   
    max-height: 800vh;
    min-height: 400px;
    margin: auto;
    max-width: 50%;
    min-width: 20px;
    background-image: linear-gradient(to top, rgb(255, 220, 220), rgb(85, 55, 216));
   border-radius: 20px;
  

   

}


.loginIcon{
    max-width: 10%;
    min-height: 20px;
    margin: auto;
    display: block;
    background-color: white;
    border-radius: 100%;
    position: relative;
    top: 2rem;
    margin-bottom: 2rem;
  
}

.TextoCentralizar{
    text-align: center;
}


.icon{
    max-width: 5%;
    min-height: 20px;
    display: block;
    
    border-radius: 100%;
    position: relative;
  
}

.inputs{
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    outline: none;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid rgb(255,255,255,0.5) ;
    transition: border 0.5s;
    

}



.inputs::placeholder{
    color:white;

}

.inputs:focus{
    border-bottom: 0.1rem solid rgb(255,255,255,1);
}

